Body {
  background: #23374d;
  background-size: cover;
  color: rgb(0, 0, 0);  
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 5%;
}

.App {
 text-align: center;
 
}

.Container {  
  margin-top: 10%;
  
}

li {
  list-style: none;
}

.table {
  text-align: center;
  display: inline-block;  
  
  /* border: 1px solid whitesmoke; */
}

.price-text {
  border: 1px solid whitesmoke;
  padding: 10px;
  color: whitesmoke;
  
}

.table-container {
  
  margin-top: 5%;
  padding: 20px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
  
}

tr {
  background: whitesmoke; 
  
}

.table {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.chart-header {
  background: #1089ff;
  color: white;
  padding: 10px;
}

.price-text {
  color: black;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
  font-family: 'Nanum Gothic', sans-serif;
  padding: 5px;
  font-weight: bold;
}

.coin-text {
  font-size: larger;
  font-style: italic;
}

.text-container {
  color: #e5e5e5;
  /* border: 1px solid whitesmoke; */
  padding: 20px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
  
}

.Clock {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #e3b04b;
  
}
